{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<main class="container-fluid mb-2">
    <section class="wrapper d-flex flex-column align-items-center text-center">
        <div class="row">
            <div class="col mt-4 mb-3">
                <h2 class="mb-4">Shopping Bag</h2>
            </div>
        </div>

        <div class="row ps-5 pe-5">
            <div class="col-12">
                {% if bag_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "bag/bag-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="mobile-checkout-btns">
                            {% include "bag/checkout-btns.html" %}
                            <hr>
                            <h2 class="mt-3 mb-4">Bag contents:</h2>
                        </div>
                    </div> {% for item in bag_items %}
                    <div class="row mt-5">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "bag/product-img.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "bag/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: ${{ item.variant.price }}</p>
                            <p><strong>Subtotal: </strong>${{ item.variant.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "bag/quantity-form.html" %}
                        </div>
                    </div>

                    {% endfor %}

                </div>


                <div class="table-responsive bag-content d-none d-md-block">
                    <table class="table bag-table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th></th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                        <tr>
                            <!-- IMAGE -->
                            <td class="p-3 w-25">
                                {% include 'bag/product-img.html' %}
                            </td>

                            <!-- PRODUCT INFO -->
                            <td class="py-3 text-start">
                                {% include 'bag/product-info.html' %}
                            </td>

                            <!-- PRICE -->
                            <td class="py-3">
                                <p class="my-0">${{ item.variant.price }}</p>
                            </td>

                            <!-- QUANTITY -->
                            <td class="py-3 w-25">
                                {% include 'bag/quantity-form.html' %}
                            </td>

                            <!-- SUBTOTAL -->
                            <td class="py-3">
                                <p class="my-0">
                                    ${{ item.subtotal|floatformat:2 }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}

                        <!-- TOTALS -->
                        <tr>
                            <td colspan="5" class="pt-5 text-end">
                                {% include 'bag/bag-total.html' %}
                            </td>
                        </tr>

                        <!-- BUTTONS -->
                        <tr>
                            <td colspan="5" class="text-end">
                                {% include 'bag/checkout-btns.html' %}
                            </td>
                        </tr>

                    </table>
                </div>

                {% else %}
                <p class="lead mb-5">Your bag is currently empty.</p>

                <a href="{% url 'products' %}" class="btn leather-btn">
                    <i class="fas fa-chevron-left"></i> Keep Shopping
                </a>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script src="{% static 'bag/js/update_remove.js' %}"></script>

{% endblock %}
