{% extends "base.html" %}
{% load static %}


  {% block page_header %}
  <section class="container-fluid">
    <div class="d-flex flex-column align-items-center justify-content-center text-center" id="header-index">

            <div class="">
                <h1 id="hero-text">
                    Timeless Posters <br>
                    for Homes with Souls
                </h1>
                </div>
                <div class="mt-2">
                  <a href="{% url 'products' %}" class="btn leather-btn-index py-3">Shop Now</a>
                </div>
            </div>
      

</section>

{% endblock %}




{% block content %}
{% endblock %}