{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<main class="container-fluid">
    <section class="wrapper d-flex flex-column align-items-center text-center">
        <div class="row">
            <div class="col">
                <h2 class="mt-4 mb-4">Thank you!</h2>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="order-conf-wrapper p-5">
                    <!-- Order Info -->
                    <div class="mb-2"><small class="text-muted">Order Info:</small></div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Order Number</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.order_number }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Order Date</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.date }}</div>
                    </div>

                    <!-- Order Details -->
                    <div class="mt-5 mb-2"><small class="text-muted">Order Details:</small></div>
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4 small fw-bold text-md-start">
                            {{ item.variant.product.name }} - {{item.variant.size }}
                        </div>
                        <div class="col-12 col-md-8 text-md-end small">
                            {{ item.quantity }} @ ${{ item.variant.price }} each
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Delivery Info -->
                    <div class="mt-5 mb-2"><small class="text-muted">Delivering To:</small></div>
                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Full Name</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.full_name }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Address 1</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.street_address1 }}</div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Address 2</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.street_address2 }}</div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">County</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.county }}</div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Town or City</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.town_or_city }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Postal Code</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.postcode }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Country</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.country }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Phone Number</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.phone_number }}</div>
                    </div>

                    <!-- Billing Info -->
                    <div class="mt-5 mb-2"><small class="text-muted">Billing Info:</small></div>
                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Order Total</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.order_total }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Delivery</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.delivery_cost }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 fw-bold text-md-start">Grand Total</div>
                        <div class="col-12 col-md-8 text-md-end">{{ order.grand_total }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-end">
                {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn leather-btn my-2 text-uppercase">
                    Go to Profile
                </a>
                {% else %}
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn leather-btn my-2 text-uppercase">
                    Keep shopping!
                </a>
                {% endif %}
            </div>
        </div>

    </section>
</main>
{% endblock %}
