 /* Import font */
 @font-face {
     font-family: "Hatolie";
     src: local('hatolie'),
         url(../fonts/Hatolie.otf) format("opentype");
 }

 /* CSS Variables */
 :root {
    --primary-background-color: #2c2e24;
    --body-background-color: #080a05;
    --primary-text-color: #F1E9E4;
    --warm-brown: #825F45;
    --dark-brown: #312721;
    --orange: #bc6d38;
    --yellow: #ffcb69;
    --logo-font: "Hatolie";
 }

 /* LOGO */ 
 #logo-text {
    font-family: "Hatolie";
    font-size: 6rem;
    letter-spacing: 0.3rem;
    color: var(--yellow);
    text-shadow: -3px -3px 5px rgba(0,0,0,.8), 1px 1px 2px rgba(255,255,255,.45);
    mix-blend-mode: difference;
 }

 body {
    height: 100vh;
    background-color: var(--body-background-color);
    background-image: url("/media/leather.png");  
}




 
