 /* Import font */
 @font-face {
     font-family: "Hatolie";
     src: local('hatolie'),
         url(../fonts/Hatolie.otf) format("opentype");
 }

 /* CSS Variables */
 :root {
    --primary-background-color: #2c2e24;
    --body-background-color: #080a05;
    --nav-background-color: #141414;
    --primary-text-color: #F1E9E4;
    --secondary-text-color: #232120;
    --warm-brown: #825F45;
    --dark-brown: #312721;
    --orange: #bc6d38;
    --yellow: #ffcb69;
    --dark-yellow: #c8993e;
    --logo-font: "Hatolie";
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Crimson Pro", serif; 
 }

body {
    height: 100vh;
    max-width: 1920px;
    background-color: var(--body-background-color);
    background-image: url("../images/leather.png");  
    font-family: var(--primary-font);
}

h2 {
    text-transform: uppercase;
}


 /* LOGO */ 
 #logo-text {
    font-family: "Hatolie";
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: var(--yellow);
    text-shadow: -3px -3px 5px rgba(0,0,0,.8), 1px 1px 2px rgba(255,255,255,.45);
    mix-blend-mode: difference;
 }


/* NAV */ 
nav {
    background-color: var(--nav-background-color);
    height: 40px; 
    width: 100%; 
    margin-bottom: none;
    font-family: var(--primary-font);
}

/* HEADER */
#mobile-header {
    margin-top: -10px;
    height: 45px; 
    margin-bottom: 10px;
}

#mobile-header i,
#mobile-header p {
    font-size: 22px;
}

#mobile-logo-container {
    height: 50px;
}

.head-btns a {
    color: var(--dark-yellow);
    text-shadow: -1px -1px 3px rgba(0,0,0,.8), 1px 1px 2px rgba(255,255,255,.45);
        font-family: var(--secondary-font);
        font-size: 1.3rem;
        text-transform: uppercase;
}


.head-btns-mobile a {
    color: var(--dark-yellow);
        font-family: var(--secondary-font);
        font-size: 1.3rem;
        text-transform: uppercase;
}

.head-search input {
    border: none; 
  outline: none;
   background-color: transparent;
  background-size: 22px;
  background-position: 13px;
  width: 90px;
  height: 45px;
  margin-left: 40px; 
  transition: all 0.5s;
          font-family: var(--secondary-font);
        font-size: 1.2rem;
        text-transform: uppercase;
        color: var(--dark-yellow);
            text-shadow: -1px -1px 3px rgba(0,0,0,.8), 1px 1px 2px rgba(255,255,255,.45);
              transition: all 0.5s;

}



.head-search-input:focus {
    width: 250px; 
    border-bottom: 2px solid var(--dark-yellow);

}

.head-search-input::placeholder {
    color: var(--dark-yellow);
    font-size: 1.4rem;
          text-shadow: -1px -1px 3px rgba(0,0,0,.8), 1px 1px 2px rgba(255,255,255,.45);
         

}

.head-search i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-yellow);
      text-shadow: -1px -1px 3px rgba(0,0,0,.8), 1px 1px 2px rgba(255,255,255,.45);
}

/* Custom bootstrap toggler */ 
.custom-toggler.navbar-toggler {
    border: none;
}
/* Changing rgba in the background url link changes color on the bars */ 
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200, 153, 62, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    text-shadow: -1px -1px 3px rgba(0,0,0,.8), 1px 1px 2px rgba(255,255,255,.45);
}
  

#product-sorting, #product-sorting a {
    color: var(--dark-yellow);
}

#sort-selector {
    background-color: var(--primary-text-color);
}
 
/* INDEX */
#header-index {
    background-image: url("../images/index-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

/* PRODUCTS */
.product-wrapper {
    background-color: #14141473;
}

.product-wrapper h2 {
    color: var(--primary-text-color);
}

/* PRODUCT CARDS */
.card, .card-footer {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}






/* Media query: tablet and larger (768px and up) */
 @media screen and (min-width: 768px) {

 }

 /* Media query: laptop and larger (992px and up) */
 @media screen and (min-width: 992px) {
#logo-text {
    font-size: 6rem;
}

     #header-index {
         height: 600px;
     }
 }

 

 /* Media query: desktop and larger (1200px and up) */
 @media screen and (min-width: 1200px) {

}