<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">

        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="all-products-link"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                All Products
            </a>

            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
            </ul>
        </li>

        <!-- New Arrivals -->
        <li class="nav-item">
            <a class="nav-link" id="new-arrivals-link"
               href="{% url 'products' %}?category=new_arrivals">
                New Arrivals
            </a>
        </li>

        <!-- Best Sellers -->
        <li class="nav-item">
            <a class="nav-link" id="best-sellers-link"
               href="{% url 'products' %}?category=best_sellers">
                Best Sellers
            </a>
        </li>

        <!-- Deals -->
        <li class="nav-item">
            <a class="nav-link" id="deals-link"
               href="{% url 'products' %}?category=deals">
                Deals
            </a>
        </li>

    </ul>
</div>
