{% extends "base.html" %}

{% block content %}
    <div class="container-fluid header-container">
        <div class="wrapper d-flex flex-column align-items-center">
        <div class="row ps-2 pe-2">
            <div class="col-12">
               
                <div class="allauth-form-inner-content mt-4 mb-3">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            
            </div>
        </div>
    </div>
    </div>
{% endblock %}